{% extends "uit_plus_tutorial/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
<script type="text/javascript">
    function update_next_button(btn) {
        loader =
            '<p>Submitting Job</p>' +
            '<div class="progress" style="margin-bottom: 0;">' +
                '<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" title="Submitted" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">' +
                    '<span class="sr-only">100% Complete</span>' +
                '</div>' +
            '</div>';
        $(btn).parent().html(loader);
    }
</script>
  <h1>Create UIT Plus Job</h1>
  <div>{% gizmo next_button %}</div>
{% endblock %}